*{
    margin: 3px;
    padding: 0px;
}
/* header   */
header{
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
header>.logo{
    width: 8rem;
height: 2.5rem;
margin-right: 10rem;
cursor: pointer;
}
header>.search{
  position: relative;
  right: 9em;
  cursor: pointer;
}
header>.search>input{
    width: 29rem;
    height: 2rem;
}
header>.search>.mike{
    position: relative;
    width: 35px;
    height: 30px;
     top: 10px;
     cursor: pointer;
}
header>.search>.searchpic{
    position: relative;
    width: 35px;
    height: 30px;
     top: 10px;
     cursor: pointer;
 }
 header>.penr{
    position: relative;
    width: 35px;
    height: 30px;
     top: 10px;
     cursor: pointer;
 }
 header>.user{
     display: flex;
    border: 2px solid blue;
    position: relative;
    width: 9em;
    height: 3em;
    top: -5px;
    cursor: pointer;
 }
 header>.user>.userimg{
    /* border: 2px solid red; */
    position: relative;
    width: 3em;
height: 3em;
top: 2px;
cursor: pointer;
 }
 header>.user>h3{
     color: blue;
     position: relative;
     bottom: -7px;
     font-size: 1.5rem;
 }





/* sidelist */
.sidelist{
    /* border: 2px solid red; */
    width: 6em;
    height: 41em;
    position: relative;
    bottom: 3.5rem;
    cursor: pointer;
    
}

.sidelist>div>img{
    position: relative;
    width: 2em;
    height: 2em;
    margin-left: 26px;
}

#para{
    margin-left: 21px;
}
#subs{
    margin-left: 7px;   
}

/* upperlist */
.upperlist{
    display: flex;
    /* border: 2px solid chartreuse; */
    width: 89em;
    height: 3em;
    margin-left: 6.5rem;
    position: relative;
    bottom:41rem;
}
.upperlist>button{
    width: 6rem;
    height: 2.5rem;
    background-color: aliceblue;
    color: black;
    border-radius: 5px;
}
.upperlist>button:hover{
    cursor: pointer;
    color: white;
    background-color: black;
}


/* ::content */
 .content{
     display: flex;
     flex-wrap: wrap;
     /* border: 2px solid cyan; */
     width: 84rem;
     height: 14rem;
     position: relative;
     bottom: 40em;
     right: -8.5rem;
 }
 .content>img{
    width: 27em;
    height: 20em;
 }

 .content>img:hover{
     transform: scale(1.1);
 }